html { 
  height: 100%;
  font-size: 13pt;
  font-family: "Roberto", sans-serif;
}

h2 {
  font-size: 13pt;
  font-family: sans-serif;
}

.rsvp-container {
  padding-bottom: 55vh;
}

.rsvp-header {
  width: fit-content;
}

.rsvp-body {
  width: fit-content;
}

.rsvp-address-button {
  align-self: start;
  margin: 10px;
  text-decoration: none;
  color: black;
}
