@media (orientation: portrait) {
  .hero-image {
    width: 100%;
    height: 100vh; /* Set the height you want */
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("../../public/hero.jpg");
    background-size: cover;
    background-position: center;
    font-family: "snell roundhand", sans-serif;
  }
}

@media (orientation: landscape) {
  .hero-image {
    width: 100%;
    height: 100vh; /* Set the height you want */
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("../../public/BO2A0097.jpg");
    background-size: cover;
    background-position: center;
    font-family: "snell roundhand", sans-serif;
  }
}

.hero-image-text-container {
  top: 65%;
  left: 50%;
  color: white;
  text-align: center;
  position: absolute;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.headline-text {
  font-size: 3rem;
  font-weight: bold;
}

.sub-text {
  font-size: 1.7rem;
  display: block;
}

.hero-arrow-conatiner {
  color: white;
  position: relative;
}

.hero-arrow {
  left: 50%;
  bottom: 5%;
  width: 3rem;
  color: white;
  position: absolute;
}

.hero-arrow:hover {
  cursor: pointer;
}
