.story-section {
  padding: 2rem 5%;
}

.story-container {
  gap: 3rem;
  display: flex;
  align-items: center;
}

.tulip-container {
  min-width: 5rem;
  fill: #d8af88;
}

@media screen and (max-width: 722px) {
  .tulip-container {
    min-width: 3rem;
  }
}

@media screen and (max-width: 586px) {
  .tulip-container {
    display: none;
  }
}