.hero {
    width: 100%;
    position: relative;
    height: 700px;
};

.hero-img {
    background: url('../../imgs/b25516ff7c63069811ac5b63028feec1.webp') center no-repeat;
}

.hero-background {
    width: inherit;
    height: inherit;
    background-color: #13202b;
};
