html {
  height: 100%;
  font-size: 16pt;
  font-family: "Roberto", sans-serif;
}

@media screen and (max-width: 586px) {
  html {
    font-size: 15pt;
  }
}

h1 {
  text-align: center;
}

.button {
  background: none;
  padding: 3px 5px;
  font-size: inherit;
  border-radius: 5px;
  border: 2px solid #ffb14b;
}

.button:hover {
  color: white;
  cursor: pointer;
  border-color: #de8073;
  background-color: #de8073;
}

.button:focus {
  outline: none;
  border: 2px solid #de8073;
}

.text-box {
  width: 40%;
  background: none;
  padding: 6px 10px;
  font-size: inherit;
  border-radius: 5px;
  border: 2px solid #ffb14b;
}

.text-box:hover { 
  border: 2px solid #de8073;
}

.text-box:focus {
  outline: none;
  border: 2px solid #de8073;
}

.text-box:active {
  border: 2px solid #de8073;
}

@media screen and (max-width: 722px) {
  .text-box {
    width: 100%;
  }
}

.find-container {
  gap: 0.5rem;
  display: flex;
  margin-bottom: 0.5rem;
}

.find-rsvp-form-header {
  display: block;
  font-size: 13pt;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.find-rsvp-form-input {
  display: block;
  margin-bottom: 0.5rem;
}

.find-status {
  display: block;
  font-size: 15pt;
  font-weight: 500;
  margin-bottom: 0.7rem;
}

.find-status-animate:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: "\2026";
  width: 0px;
}

.find-status-timeout::after {
  display: none;
}

@keyframes ellipsis {
  0% {
    width: 0px;
  }
  33% {
    width: 15px;
  }
  66% {
    width: 25px;
  }
  100% {
    width: 40px;
  }
}

@-webkit-keyframes ellipsis {
  0% {
    width: 0px;
  }
  33% {
    width: 15px;
  }
  66% {
    width: 25px;
  }
  100% {
    width: 40px;
  }
}

.content-body {
  margin-left: 10%;
  margin-right: 10%;
}

@media screen {
  .content-body {
    margin-left: 3%;
    margin-right: 3%;
  }
}
