html {
  height: 100%;
  font-family: "Roberto", sans-serif;
}

h1 {
  text-align: center;
}

.button {
  background: none;
  border: 2px solid black;
  padding: 3px 5px;
  font-size: 15pt;
}

.button:hover {
  cursor: pointer;
  background-color: #ffb14b;
}

.text-box {
  width: 40%;
  background: none;
  border: 2px solid black;
  padding: 6px 10px;
}

@media screen and (max-width: 786px) {
  .text-box {
    width: 100%;
  }
}

.find-container {
  gap: 0.5rem;
  display: flex;
  margin-bottom: 0.5rem;
}

.find-rsvp-form-header {
  display: block;
  font-size: 13pt;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.find-rsvp-form-input {
  display: block;
  margin-bottom: 0.5rem;
}

.find-status {
  display: block;
  font-size: 15pt;
  font-weight: 500;
  margin-bottom: 0.7rem;
}

.find-status-animate:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: "\2026";
  width: 0px;
}

.find-status-timeout::after {
  display: none;
}

@keyframes ellipsis {
  0% {
    width: 0px;
  }
  33% {
    width: 15px;
  }
  66% {
    width: 25px;
  }
  100% {
    width: 40px;
  }
}

@-webkit-keyframes ellipsis {
  0% {
    width: 0px;
  }
  33% {
    width: 15px;
  }
  66% {
    width: 25px;
  }
  100% {
    width: 40px;
  }
}

.content-body {
  margin-left: 10%;
  margin-right: 10%;
}

@media screen {
  .content-body {
    margin-left: 3%;
    margin-right: 3%;
  }
}

.hero-image {
  width: 100%;
  height: 500px; /* Set the height you want */
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../public/mn-landscape-arboretum-engagement-photo-12.jpg");
  background-size: cover;
  background-position: center;
}

.hero-image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
