html {
  height: 100%;
  font-size: 16pt;
  font-family: "Roberto", sans-serif;
}

@font-face {
  font-family: 'Snell Roundhand';
  src: url("/fonts/SnellBT-Regular.otf");
}

@media screen and (max-width: 586px) {
  html {
    font-size: 15pt;
  }
}

body {
  font-family: "Libre Baskerville", sans-serif;
}

h1 {
  text-align: center;
  font-family: "snell roundhand", sans-serif;
}

.section {
  padding: 2rem 20%;
}

.button {
  background: none;
  padding: 3px 5px;
  font-size: inherit;
  border-radius: 2px;
  border: 2px solid #ffb14b;
  font-family: "Libre Baskerville", sans-serif;
}

.button:hover {
  color: white;
  cursor: pointer;
  border-color: #de8073;
  background-color: #de8073;
}

.button:focus {
  outline: none;
  border: 2px solid #de8073;
}

.text-box {
  width: 40%;
  background: none;
  padding: 6px 10px;
  font-size: inherit;
  border-radius: 2px;
  border: 2px solid #ffb14b;
  font-family: "Libre Baskerville", sans-serif;
}

.text-box:hover { 
  border: 2px solid #de8073;
}

.text-box:focus {
  outline: none;
  border: 2px solid #de8073;
}

.text-box:active {
  border: 2px solid #de8073;
}

@media screen and (max-width: 722px) {
  .text-box {
    width: 100%;
  }
}

.registry {
  text-align: center;
  background-color: #f2b981;
}

.content-body {
  margin-left: 10%;
  margin-right: 10%;
}

@media screen {
  .content-body {
    margin-left: 3%;
    margin-right: 3%;
  }
}
